/* ---------------------------------------------------
                    SUBNAV STYLE
----------------------------------------------------- */
.return-workspace {
    position: relative;
    float: left;
    top:50%;
    transform: translateY(-50%);
    margin-right: 10px;
}

.return-workspace .glyphicon {
    font-size: 1.5em;
    color: #FFFFFF;
}

.return-workspace .glyphicon:hover {
    cursor: pointer;
}

.forms-links-wrapper {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateY(-50%) translateX(-50%);
}
.forms-links-wrapper ul {
    margin: 0;
}

.forms-links-wrapper ul li {
    display: inline-block;
    height: 70px;
    line-height: 70px;
}

.forms-links-wrapper ul li.active {
    border-bottom: 4px solid white;
}

.forms-links-wrapper ul li a {
    vertical-align: middle;
    padding: 20px;
    color: #FFFFFF;
    font-size: 1.2em;
}

.forms-links-wrapper ul li a:hover {
    text-decoration: none;
}
