/* ---------------------------------------------------
                    NAV STYLE
----------------------------------------------------- */
.form-wrapper {
    background: #F1F1F1;
    border-right: 1px solid #c5c5c5;
}

ul.forms {
    list-style: none;
}

li.form-thumbnail {
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 230px;
    margin: 10px;
    position: relative;
    width: 200px;
}

.form-thumbnail:hover {
    cursor: pointer;
}

.form-thumbnail:hover .form-actions {
    opacity: 1;
}

.form-thumbnail .form-caption {
    color: #454545;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#add-form {
    background: #00d75c;
}

#add-form:hover {
    background: #33ff8a;
}

#add-form .form-caption {
    color: #FFFFFF;
}

.form-actions {
    bottom: 0;
    left: 50%;
    margin-bottom: 15px;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

.form-actions .form-action {
    padding: 5px;
}

/* ---------------------------------------------------
                    MEMBERS SIDEBAR STYLE
----------------------------------------------------- */
.members-sidebar {
    background: #D8DDDD;
    padding: 0;
    position: relative;
}

#members-header {
    padding: 20px;
    position: relative;
}

.members-sidebar .divisor {
    border-top: 1px solid #c5c5c5;
}

#members-list {
    overflow-y: auto;
    position:relative;
}

.member-item {
    padding: 20px;
    position: relative;
}